{{#partial "title"}}Editando datos del estudiante{{/partial}}

{{#partial "content"}}
    <h1>Editar el estudiante</h1>

    <form class="form" action="/update" method="post">

        <div class="form-group">
            <label for="matricula" class="sr-only" >Matricula:</label>
            <input id="matricula" class="form-control" type="number" placeholder="Matricula" name="matricula" value="{{ estudiante.matricula }}">
        </div>

        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label for="nombre" class="sr-only" >Nombres:</label>
                    <input id="nombre" class="form-control" type="text" placeholder="Nombres" name="nombre" value="{{ estudiante.nombre }}">
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label for="apellido" class="sr-only" >Apellidos:</label>
                    <input id="apellido" class="form-control" type="text" placeholder="Apellidos" name="apellido" value="{{ estudiante.apellido }}">
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="telefono" class="sr-only" >Teléfono:</label>
            <input id="telefono" class="form-control" type="tel" placeholder="Teléfono" name="telefono" value="{{ estudiante.telefono }}">
        </div>

        <hr>

        <button type="submit" class="btn mr-3"><i class="far fa-save"></i> Actualizar</button>
        <a href="/delete/{{ estudiante.matricula }}">
            <button type="button" class="btn btn-danger ml-3"><i class="far fa-trash-alt"></i> Eliminar</button>
        </a>
    </form>


{{/partial}}

{{> home.hbs}}