{{#partial "control-panel"}}
    <form action="/create" method="get">
        <button class="btn btn-primary"><i class="far fa-user"></i> Agregar estudiante</button>
    </form>
{{/partial}}

{{#partial "content"}}
    <h1>Lista de estudiantes</h1>

    <hr>

    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th></th>
                <th scope="col">Matricula</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Telefono</th>
            </tr>
        </thead>
        <tbody>
        {{#each estudiantes}}
            <tr>
                <td>
                    <form action="/show/{{ matricula }}" method="get">
                        <button type="submit" class="btn btn-primary"><i class="far fa-eye"></i></button>
                    </form>
                </td>
                <td>{{ matricula }}</td>
                <td>{{ nombre }}</td>
                <td>{{ apellido }}</td>
                <td>{{ telefono }}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>

{{/partial}}

{{> home.hbs}}