{{#partial "title"}}Datos del estudiante{{/partial}}

{{#partial "content"}}
    <h1>Ficha del estudiante</h1>

    <hr>

    <p>Matricula: {{ estudiante.matricula }}</p>
    <p>Nombres: {{ estudiante.nombre }}</p>
    <p>Apellidos: {{ estudiante.apellido}}</p>
    <p>Teléfono: {{ estudiante.telefono }}

    <hr>

    <div class="row">
        <form class="px-3" action="/edit/{{ estudiante.matricula }}" method="get">
            <button type="button" class="btn"><i class="far fa-edit"></i> Edit</button>
        </form>

        <form class="px-3" action="/detele/{{ estudiante.matricula }}" method="post">
            <button type="button" class="btn btn-danger"><i class="far fa-trash-alt"></i> Delete</button>
        </form>
    </div>


{{/partial}}

{{> home.hbs }}